/* dashboard/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@400;600&family=JetBrains+Mono&display=swap');
@import 'tailwindcss';

html, body {
  margin: 0;
  padding: 0;
  background-color: #EEF6F2 !important; /* Força a cor menta */
}

* {
  box-sizing: border-box;
}
